<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Welcome to the University of the East</h1>
        <p>The University of the East is a leading institution in the region, committed to promoting excellence in education, research, and innovation.</p>
        <p>Founded in 1877, the University has grown to become a global leader in higher education and research.</p>
        <p>Our campus is located in the heart of the city, with a rich history and vibrant culture.</p>
        <p>Our mission is to provide a world-class education for all our students, and to contribute to the development of our nation and the world.</p>
        <p>For more information about our university, please visit our website at <a href="https://www.ue.edu">ue.edu</a>.</p>
        <p>Thank you for visiting!</p>
        <li>
            <a href="http://<%= locals.localIP%>:<%= locals.portNum%>/students">Student Home Page</a>
        </li>
    </body>
</html>