<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/webs/public/js/script.js"></script>
    <title>File Upload</title>
</head>
<body>
    <h2>Upload DOCX / PDF</h2>
    <input type="file" id="fileInput" accept=".pdf,.docx">
    <button onclick="uploadFile()">Upload</button>
</body>
</html>